/* Paleta de cores
 * --charcoal: #264653ff;
 * --persian-green: #2a9d8fff;
 * --saffron: #e9c46aff;
 * --sandy-brown: #f4a261ff;
 * --burnt-sienna: #e76f51ff;
 */
h1{
     font-size: 50px;
     font-weight: bold;
     margin-top: 15px;
     margin-bottom: 20px;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
 }

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

 /*navbar*/

header {
    background-color: #264653ff;
    color: #ffff;
    padding: 0 15px;
    height: 60px;
}

header > h2, header > nav ,header > nav > ul, header > nav > ul > li {
    display: inline-block;
}

header > h2 {
    line-height: 60px;
    margin-left: 55px;
}

header > img {
    height: 50px;
    position: absolute;
}

header > nav {
    float: right;
    margin-top: 22px;
}

header > nav > ul > li {
    margin: 0 10px;
}

header > nav > ul > li > a {
    color: #ffff;
}

header > nav > ul > li > a:hover {
    border-bottom: 1px solid #f4a261ff;
    color: #f4a261ff;
}

/*banner*/

#banner {
    height: 80vh;
    background-image: url('../img/nikita-kachanovsky-OVbeSXRk_9E-unsplash-edit.png');
    background-size: cover;
}

#banner-info {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    color: #ffff;
    padding: 50px;
}

#banner-info > img {
    height: 150px;
    border-radius: 50%;

}

#banner-info > p {
    background-color: #264653ff;
    font-weight: bold;
    width: 200px;
    margin: 0 auto;
    padding: 15px;
}

/*sobre*/

#sobre {
    text-align: center;
    background-color: #2a9d8fff;
    color: #262626;
    padding-top: 50px;
    height: 350px;
}

#sobre > h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

#sobre > p {
    max-width: 650px;
    margin: 0 auto;
    line-height: 25px;
}

/*curriculo*/

#curriculo {
    margin-top: -100px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffff;
    width: 80%;
    border: 1px solid #dddf;
    border-radius: 10px;
}

#curriculo > .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.curriculo-container {
    flex: 2 2 auto;
    text-align: center;
    padding: 60px 25px;
}

.central {
    border-right: 1px solid #dddf;
    border-left: 1px solid #dddf;
}

.curriculo-container > h3 {
    color: #e76f51ff;
    font-weight: bold;
}

.curriculo-container > img {
    height: 30%;
    padding: 15px;
    margin-bottom: 25px;
}

.curriculo-container > .subtitle {
    font-weight: bold;
    color: #2a9d8fff;
    margin-top: 20px;
    margin-bottom: 15px;
}

.curriculo-container > p {
    line-height: 25px;
}

/* portfolio */

#portfolio {
    text-align: center;
    padding-top: 50px;

}

#portfolio > h2 {
    color: #264653ff;
    margin-bottom: 30px;
}

#portfolio > p {
    margin-bottom: 50px;
}

#portfolio > p > a {
    font-weight: bold;
    color: #f4a261ff;
}

.portfolio-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
}

.portfolio-box {
    flex: 2 2 200px;
    margin-right: 25px;
    margin-left: 25px;
    height: 300px;
    background-size: cover;
    border-right: 2px solid #264653ff;
    border-bottom: 2px solid #264653ff;
}

.projeto1 {
    background-image: url('../img/proj1.jpg');
} 

.projeto2 {
    background-image: url('../img/proj2.jpg');
}

.projeto3 {
    background-image: url('../img/proj3.jpg');
}

/* rodape */

footer {
    padding: 50px 0;
    background-color: #264653ff;
    color: #ffff;
    text-align: center;
}

footer > p {
    margin-top: 25px;
    margin-bottom: 25px;
}

footer > form {
    width: 400px;
    margin: 0 auto;
}

footer input, footer textarea{
    border: none;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%;
    display: block;
}

footer .detail {
    font-weight: bold;
}

/* responsivo celulares */

@media(max-width: 450px){
    /* geral */
    p, input, textarea {        
        font-size: 1.2rem;
    }

    /* navbar */

    header > h2 {
        display: none;
    }

    header > ul {
        margin-top: 1.1rem;
    }

    /* banner */
    
    #banner {
        height: 40vh;
        padding-top: 5vh;
        padding-bottom: 10vh;
    }

    #banner-info {
        width: 60%;
    }

    #banner-info > p {
        margin: 0;
        width: auto;
    }

    /* sobre */

    #sobre {
        padding: 2rem;
        height: auto;
        padding-bottom: 50px;
    }

    /* curriculo */

    #curriculo {
        margin-top: -35px;
        width: 90%;
    }

    #curriculo > .container {
        flex-direction: column;
    }

    .curriculo-container > h3, .curriculo-container > .subtitle {
        font-size: 1.3rem;
    }

    .curriculo-container {
        padding: 25px;
    }

    .central {
        border-top: 2px solid #dddf;
        border-bottom: 2px solid #dddf;
    }

    /* portfolio */

    #portfolio > h2, #portfolio > p {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .portfolio-container {
        flex-direction: column;
        margin-bottom: 0;
    }

    .portfolio-box {
        margin-bottom: 2rem;
        flex: 1 1 300px;
    }

    /*footer*/

    footer {
        padding: 50px 15px;
    }

    footer > form {
        width: 100%;
    }

    footer > p {
        line-height: 25px;
    }

    .detail {
        margin-top: 10px;
        display: block;
    }
}

/* SCSS Gradient
 * $gradient-top: linear-gradient(0deg, #264653ff, #2a9d8fff, #e9c46aff, #f4a261ff, #e76f51ff);
 * $gradient-right: linear-gradient(90deg, #264653ff, #2a9d8fff, #e9c46aff, #f4a261ff, #e76f51ff);
 * $gradient-bottom: linear-gradient(180deg, #264653ff, #2a9d8fff, #e9c46aff, #f4a261ff, #e76f51ff);
 * $gradient-left: linear-gradient(270deg, #264653ff, #2a9d8fff, #e9c46aff, #f4a261ff, #e76f51ff);
 * $gradient-top-right: linear-gradient(45deg, #264653ff, #2a9d8fff, #e9c46aff, #f4a261ff, #e76f51ff);
 * $gradient-bottom-right: linear-gradient(135deg, #264653ff, #2a9d8fff, #e9c46aff, #f4a261ff, #e76f51ff);
 * $gradient-top-left: linear-gradient(225deg, #264653ff, #2a9d8fff, #e9c46aff, #f4a261ff, #e76f51ff);
 * $gradient-bottom-left: linear-gradient(315deg, #264653ff, #2a9d8fff, #e9c46aff, #f4a261ff, #e76f51ff);
 * $gradient-radial: radial-gradient(#264653ff, #2a9d8fff, #e9c46aff, #f4a261ff, #e76f51ff);
*/